
/011.askja/003.expression_quant/.ipynb_checkpoints
011.askja/003.expression_quant/.Rhistory
/011.askja/003.expression_quant/.virtual_documents
/011.askja/004.visualization/.ipynb_checkpoints
/011.askja/004.visualization/.virtual_documents
011.askja/005.DEGs.DESeq2/.Rhistory
