
/011.askja/003.expression_quant/.ipynb_checkpoints
011.askja/003.expression_quant/.Rhistory
/011.askja/003.expression_quant/.virtual_documents
/011.askja/004.visualization/.ipynb_checkpoints
/011.askja/004.visualization/.virtual_documents
011.askja/005.DEGs.DESeq2/.Rhistory
016.saudarkrokur/.DS_Store
/education/.virtual_documents
/education/.ipynb_checkpoints
education/session.004/.Rhistory
017.grotta/001.clean_reads/messages.trimmer.txt
016.saudarkrokur/005.DEGs.DESeq2/messages.txt
research/020_vik/in_house_functional/.ipynb_checkpoints/analysis-checkpoint.ipynb
research/020_vik/in_house_functional/.ipynb_checkpoints/analysis-checkpoint.ipynb
/research/020_vik/in_house_functional/.ipynb_checkpoints
*.tsv
