
/011.askja/003.expression_quant/.ipynb_checkpoints
011.askja/003.expression_quant/.Rhistory
/011.askja/003.expression_quant/.virtual_documents
/011.askja/004.visualization/.ipynb_checkpoints
/011.askja/004.visualization/.virtual_documents
011.askja/005.DEGs.DESeq2/.Rhistory
016.saudarkrokur/.DS_Store
/education/.virtual_documents
/education/.ipynb_checkpoints
education/session.004/.Rhistory
017.grotta/001.clean_reads/messages.trimmer.txt
016.saudarkrokur/005.DEGs.DESeq2/messages.txt
research/020_vik/in_house_functional/.ipynb_checkpoints/analysis-checkpoint.ipynb
research/020_vik/in_house_functional/.ipynb_checkpoints/analysis-checkpoint.ipynb
/research/020_vik/in_house_functional/.ipynb_checkpoints
research/020_vik/in_house_functional/effect_WT_vs_MUTANT_annotated_update.tsv
research/020_vik/in_house_functional/effect_WT_vs_MUTANT_annotated_update_nocounts.tsv
research/024_oslo/2025.05.28/my_dataframe.tsv
research/029_orsay/004.tf_enrichment/029 orsay Table DEGs - both HOM & VGA.tsv
research/029_orsay/004.tf_enrichment/029 orsay Table DEGs - HOM.tsv
research/029_orsay/004.tf_enrichment/029 orsay Table DEGs - particular to HOM.tsv
research/029_orsay/004.tf_enrichment/029 orsay Table DEGs - particular to VGA.tsv
research/029_orsay/004.tf_enrichment/029 orsay Table DEGs - VGA.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ARCHS4_TFs_Coexp029 orsay Table DEGs - both HOM & VGA.tsv.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ARCHS4_TFs_Coexp029 orsay Table DEGs - HOM.tsv.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ARCHS4_TFs_Coexp029 orsay Table DEGs - particular to HOM.tsv.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ARCHS4_TFs_Coexp029 orsay Table DEGs - particular to VGA.tsv.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ARCHS4_TFs_Coexp029 orsay Table DEGs - VGA.tsv.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.chea.hom.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ChEA_2022029 orsay Table DEGs - both HOM & VGA.tsv.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ChEA_2022029 orsay Table DEGs - HOM.tsv.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ChEA_2022029 orsay Table DEGs - particular to VGA.tsv.tsv
research/029_orsay/004.tf_enrichment/tf_enricher.ChEA_2022029 orsay Table DEGs - VGA.tsv.tsv
research/044_blaskogar/PRJNA641129/000_retrieve/info.tsv
research/054_selfoss/002_DEG_calling/intersect/deseq2.tsv
research/054_selfoss/002_DEG_calling/intersect/sleuth.tsv
education/lif659m/week_04/kallisto_output.tgz
research/025_isafjordur/004_response_reviewers_2025.12.23/fig1a/data/Model.csv
research/025_isafjordur/004_response_reviewers_2025.12.23/fig1a/data/OmicsExpressionTPMLogp1HumanProteinCodingGenes.csv
research/025_isafjordur/004_response_reviewers_2025.12.23/fig1a/MITF_CCLE_histogram.pdf
/research/072_tene/GDCdata
research/025_isafjordur/004_response_reviewers_2025.12.23/fig1a/OmicsExpressionTPMLogp1HumanProteinCodingGenes.csv
research/025_isafjordur/004_response_reviewers_2025.12.23/fig1a/Model.csv
